<nav class="navbar bg-nav">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img width="60px"
                src="https://static.vecteezy.com/system/resources/previews/009/122/097/non_2x/mul-logo-mul-letter-mul-letter-logo-design-initials-mul-logo-linked-with-circle-and-uppercase-monogram-logo-mul-typography-for-technology-business-and-real-estate-brand-vector.jpg"
                alt="IMG" srcset="">
            ANGULARMUL
        </a>
    </div>
</nav>

<div class="container">
    <ul class="nav  bg-dark  mt-2">
        <li class="nav-item">
            <a class="nav-link  text-white fw-semibold" aria-current="page" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white fw-semibold" routerLink="/usuarios">Usuarios</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white fw-semibold" routerLink="/categorias">Categorias</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white fw-semibold" routerLink="/productos"> <i class="fa-regular fa-gem me-2"></i> Productos</a>
        </li>
        
    </ul>
</div>